html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}


.searchButton {
 border: 2px solid;
}

.navbar {
    background-color: rgb(160, 112, 167);
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-around;
}

.searchInput {
   
    width: 50vw;
    margin: auto;
    display: inline-block;
    background-color: lightgray;
    border-radius: 0%;
}

.loginContainer {
    margin-top: 2em;
    background-color: rgb(160, 112, 167);
    
}

.loginTitle {
    display: flex;
    justify-content: center;
}



.loginForm {
    background-color: #fff;
    width: 50vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0.75em;
    background-color: rgb(160, 112, 167);
}

.loginButton {
    border-radius: 0%;
}

@media only screen and (max-width: 768px) {
    .loginForm {display:flex;
        flex-direction: column;}
  }

  @media only screen and (max-width: 768px) {
    .loginButton {margin-top: 0.5em;}
  }

.loginInput {
    margin-right: 1em;
    border-radius: 0%;
    
   
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: gray;
}

