html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}


.searchButton {
 
}

.navbar {
    background-color: rgb(160, 112, 167);
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-around;
}

.searchInput {
   
    width: 50vw;
    margin: auto;
    display: inline-block;
    background-color: lightgray;
    border-radius: 0%;
}

.loginContainer {
    background-color: rgb(160, 112, 167);
}

.loginTitle {
    display: flex;
    justify-content: center;
    background-color: rgb(160, 112, 167);
    width: 100%;
    padding-top: 2em;
}


.loginForm {
    background-color: #fff;
    width: 50vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0.75em;
   
}


.loginInput {
    margin-right: 1em;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: gray;
}

.homeLink {
    
        display: flex;
        justify-content: center;
        text-decoration: none;
    color: white;
}

.homeLink:hover {
    color: lightgray;
}


