html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}

/* Modal */

.modalButton {
 background-color: lightslategray;
 border-color: lightslategray;
 border-radius: 0%;
}

.modalButton:hover {
   background-color: rgb(160, 112, 167);
   border-color: rgb(160, 112, 167);
}


.navbar {
    background-color: rgb(160, 112, 167);
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-around;
}

.searchInput {
   
    width: 50vw;
    margin: auto;
    display: inline-block;
    background-color: #fff;
    border-radius: 5%;
    border: 2px solid lightslategray;
    
}

.searchButton {
    background-color: lightcoral;
    height: 52px;
    border-radius: 0%;
    outline: none;
}

.searchButton:hover {
    background-color: lightcoral;
}

.searchButton:focus {
    outline: none;
    box-shadow: none;
}

.loginContainer {
    background-color: rgb(160, 112, 167);
}

.loginTitle {
    display: flex;
    justify-content: center;
    background-color: rgb(160, 112, 167);
    width: 100%;
    padding-top: 2em;
}


.loginForm {
    background-color: #fff;
    width: 50vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0.75em;
   
}


.loginInput {
    margin-right: 1em;
}

/* Navbar */

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}
.link-details {
    text-decoration: none;
    color: #000;
}

/* All Home Buttons in components folder */

.homeLink {
    
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.homeLink:hover {
    color: lightgray;
}

.div-details {
    margin: 1em 2em;
    padding: 0.5em;
    background-color: lightgray;
    border: 2px solid lightslategray;
} 



.button-link-details {
    border: none;
    border-radius: 0%;
    background-color: rgb(160, 112, 167);
    color: white;
    
     
}

.button-link-details:hover {
    background-color: rgb(160, 112, 167);
    color: white;
}

.h2-details {
    background-color: rgb(160, 112, 167);
    padding: 0.2em;
}

/* the select below navbar */

.select-filter {
    width: 20vw;
    margin: auto;
    margin-top: 0.5em;
    background-color: lightgray;
    border: 2px solid lightslategray;
    margin-bottom: 2em;
}

@media only screen and (max-width: 768px){
    .select-filter {
        width: 40vw;
    }
}




